@model AdminGenresViewModel
<h1>Admin Genres</h1>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Admin" asp-action="GenreCreate" method="post">

            <div class="form-group my-2">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>


            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width:30px">#</th>
                    <th>Name</th>
                    <th style="width:30px">Count</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Genres)
                {
                    <tr>
                        <td>@item.GenreId</td>

                        <td>@item.Name</td>
                        <td>
                            @item.Count
                        </td>
                        <td width="150">
                            <a href="/admin/GenreUpdate/@item.GenreId" class="btn btn-primary btn-sm">Update</a>
                            <form action="GenreDelete" method="post" style="display:inline">
                                <input type="hidden" name="genreId" value="@item.GenreId" />
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

