@model IEnumerable<KursKayit>
    @{
        ViewData["Title"] = "Kurs Kaydı";
    }
<h2>
    Kurs Kayıt Listesi
</h2>
<a href="/KursKayit/Create" class="btn btn-primary">Kurs Kaydı Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x=>x.KayitId)</th>
            <th>Öğrenci</th>
            <th>Kurs</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.KayitId)</td>
                <td>@Html.DisplayFor(x=>item.Ogrenci.AdSoyad)</td>
                <td>@Html.DisplayFor(x=>item.Kurs.KursBaslik)</td>
                <td>
                    <a asp-controller="KursKayit" asp-action="Guncelle" asp-route-id="@item.KayitId" class="btn btn-primary btn-sm">Güncelle</a>
                    <a href="/KursKayit/Sil/@item.KayitId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>